<!DOCTYPE html>
<html>
<head>
	<title>FliptitPhysics Calculator</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="content">
		<div class="header">
		<h2>FliptitPhysics Calculator</h3>
		<form action="/" method="post"><input placeholder="Search by unititemID" id="searchbox" type="number" name="q" value="" autocomplete="off"></form>
		</div>

		<div class="container center">
			{% block container%}
			{% endblock %}
		</div>

	</div>

</body>
</html>