.header {
	position: fixed;
	background-color: #2f535c;
    left: 0;
    top: 0;
    width: 100%;
    color:white;
    padding:10px 20px;
}

.container {
	margin-top: 50px;
}

.blank-fix {
	height: 10%;
	width: 100%;
}

h3 {
	margin:0px 0px;	
}

.center {
    padding: 70px 0;
    /*border: 3px solid green;*/
    text-align: center;
}